p {
  font-size: 1em;
  line-height: 1.5em;
  color: forestgreen;
}

figcaption {
  /* font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; */
  font: normal 0.75em/1.5em Gea Georgia, 'Times New Roman', Times, serif;
  color: #777;
  text-align: right
  }

   .milk-text {
      font: bold 2.6em 'Elsie Swash Caps' cursive;
      color: white;
      text-shadow: 0 2px 3px black;
  }

   #logo{
      background-color: aqua;
  }

   #logo h1{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

   #logo h2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #details a:link,
  #details a:visited{
      color:black;
      text-decoration: none;
  }

   #details a:hover,
  #details a:active{
      color:black;
      text-decoration: underline;
  }
